.footer {
  margin: 6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: first baseline;
  flex-wrap: wrap;
  gap: 5rem;
  font-size: 3rem;
}

.footer h1 {
  font-size: 3rem;
  color: #1a3e45;
}
.footer p {
  font-size: 2rem;
  line-height: 4rem;
}

.footer h2 {
  margin-top: 2.5rem;
  font-size: 2.5rem;
  color: #1a3e45;
}

.talkToUs .subscribe-box .box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.talkToUs .subscribe-box .box .email {
  font-size: 2rem;
  padding: 1rem;
  border-radius: 1rem 0 0 1rem;
}

.talkToUs .subscribe-box .box .subs-btn {
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-radius: 0 1rem 1rem 0;
  cursor: pointer;
}

@media (max-width: 1270px) {
  .footer {
    justify-content: flex-start;
    gap: 3rem;
  }
  .footer-sec {
    width: 45%;
  }
}
